<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Disabled</key>
    <false/>
    <key>Label</key>
    <string>atig</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/freddie/.rbenv/shim/atig</string>
      <string>-c</string>
      <string>/Users/freddie/.atig/config</string>
      <string>-l</string>
      <string>/Users/freddie/.atig/log/atig.log</string>
      <string>-h</string>
      <string>127.0.0.1</string>
      <string>-p</string>
      <string>16668</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
